.user-account {
  .account-total {
    padding: 64px 16px 16px;
    .title {
      font-size: 16px;
      color: #8a94a6;
    }
    .amount {
      span {
        font-size: 36px;
      }
    }
  }
}
