.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
  .close-icon {
    display: inline-block;
    position: absolute;
    right: -15px;
    top: -15px;
    color: #788aae;
  }
}
