@import '../../styles//variable';

.chart {
  background: $itemBg;
  grid-area: chart;
  color: #788aae;
  display: flex;
  flex: 1;
  flex-direction: column;
  .own-tool-bar {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    .item {
      height: 22px;
      display: flex;
      align-items: center;
      color: #788aae;
      font-size: 12px;
      font-weight: 500;
      cursor: pointer;
      padding: 0 8px;
      box-sizing: border-box;
      svg {
        margin-left: -4px;
      }
      &:hover {
        background: #1c2135;
        color: #0081ff;
      }
    }
    .active {
      background: #1c2135;
      color: #0081ff;
    }
  }
  #tvChart {
    display: flex;
    flex: 1;
    width: 100%;
  }
}

.period-list {
  display: flex;
  flex-direction: column;
  background: #252b44;
  .item {
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
      background: #20253c;
      color: #0081ff;
    }
  }
  .active {
    background: #20253c;
    color: #0081ff;
  }
}
